.container {
    width: 100%;
    margin: auto;
    padding: 10px;
  }

.locationPoco {
    padding: 10px;
    width: 50%;
    float: left;
}

.locationRichmond {
    padding: 10px;
    margin-left: 50%;
}

.list-group {
    padding-bottom: 20px;
}